Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-*,bugprone-*,misc-*,google-runtime-int,-clang-analyzer-security.insecureAPI.strcpy,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key:             google-runtime-int.TypeSufix
    value:           '_t'
